mat-card {
  background-color: #eeeeee;
  min-width: 500px;
  margin-top: 40px;
}

.blackT {
  color: black;
}

mat-card-content, .data {
  margin: 0;
  background: white;
}

mat-card-actions {
  margin: 0;
  background: #616161;
  color: white;
  margin-top: 30px;
}

h2 {
  min-width: 500px;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}
mat-card-header{
  color: black;
}


