<div fxFill fxLayoutAlign="center center">
  <mat-card fxFlex="30" fxLayout="column" fxLayoutAlign="space-around center">

    <mat-card-header style="place-content: center">
      <mat-card-title>Request new order</mat-card-title>
    </mat-card-header>
    <div fxLayout="row" fxFill fxLayoutAlign="center">
      <mat-card-content fxFlex="70">
        <form [formGroup]="orderForm" class="example-form" fxLayout="column">

          <mat-form-field>
            <mat-select placeholder="Vehicle" formControlName="Vehicle" required>
              <mat-option *ngFor="let vehicle of currentUser.vehicles" [value]="vehicle">
                {{vehicle.uniqueID}}&nbsp;-&nbsp;{{vehicle.brand}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Protection" formControlName="Protection" multiple>
              <mat-option *ngFor="let prot of protectionList" [value]="prot">{{prot}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Cleaning" formControlName="Cleaning" multiple>
              <mat-option *ngFor="let clean of cleaningList" [value]="clean">{{clean}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="Description"></textarea>
          </mat-form-field>

          <mat-checkbox formControlName="AtAddress">Cleaning at own address</mat-checkbox>

        </form>
      </mat-card-content>
    </div>

    <mat-card-actions style=" text-align: center">
      <button mat-raised-button class="orderSubmit" (click)="save()" color="accent">Save</button>
      <button mat-raised-button (click)="back()">Back</button>
    </mat-card-actions>

  </mat-card>
</div>
