<button routerLink="/orders">Back</button>
<form [formGroup]="orderForm" (ngSubmit)="save()">
  <label>
    User <input type="number" formControlName="user">
  </label>
  <label>
   Vehicle: <input type="number" formControlName="vehicle">
  </label>
  <label>
    Services: <input type="text" formControlName="services">
  </label>
  <label>
    Description: <input type="text" formControlName="description">
  </label>
  <label>
    Cleaning at address: <input type="checkbox" formControlName="atAddress">
  </label>
  <button type="submit">Save</button>
</form>
