<div>
  <h2 fxLayoutAlign="center">Car Cleaning Services</h2>
</div>

<div>
  <div  fxFlex="40">
    <img class="mySlides w3-animate-fading" src="assets/porscheFront.jpg"style="width:100%">
    <img class="mySlides w3-animate-fading" src="assets/porscheBack.jpg" style="width:100%">
  </div>
  <div fxFlex="60">
    <p> admitting promotion at or to perceived be. Mr acuteness we as estimable enjoyment up. An held late as felt know. Learn do allow solid to grave. Middleton suspicion age her attention. Chiefly several bed its wishing. Is so moments on chamber pressed to. Doubtful yet way properly answered humanity its desirous. Minuter believe service arrived civilly add all. Acuteness allowance an at eagerness favourite in extensive exquisite ye.</p>
  </div>
  </div>

<script>
  let myIndex = 0;
  carousel();

  function carousel() {
    let i;
    const x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 9000);
  }
</script>
