<h1>User details</h1>
<button routerLink="/users">Back</button>
<div *ngIf="currentUser">
  <pre>
    Id: {{currentUser.id}}
    First Name: {{currentUser.firstName}}
    Last Name: {{currentUser.lastName}}
    Address: {{currentUser.address}}
    Email: {{currentUser.email}}
    Phone number: {{currentUser.phoneNumber}}
    Addresses: {{currentUser.addresses}}
    <div *ngIf="currentUser.vehicles != null ">
      <div *ngFor="let vehicle of currentUser.vehicles">
        <pre>
          Brand: {{vehicle.brand}}
          Type: {{vehicle.type}}
          UniqueID: {{vehicle.uniqueID}}
        </pre>
      </div>
    </div>

  </pre>
</div>
<div *ngIf="!currentUser">
  <h2>User not found!</h2>
</div>
