<div fxLayout="row" fxLayoutAlign="center">
  <div class="container" fxLayout="row" fxLayoutAlign="center" fxFlex="60%" [fxFlex.md]="'75%'" [fxFlex.sm]="'100%'"
    fxLayoutGap="50px">
    
    <div fxLayout="column" fxLayoutGap="30px">
      <div>
        <div class="mat-h1">Beginnings</div>
        <div class="mat-body-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </div>
      </div>
      <div>
        <div class="mat-h1">Business Model</div>
        <div class="mat-body-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </div>
      </div>
      <div>
        <div class="mat-h1">Staff</div>
        <div class="mat-body-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </div>
      </div>
    </div>

    <div fxLayout="column" fxFlex="100vw">
      <mat-card>
        <img src="assets/placeholder_img.png" width="100%">
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>