mat-card {
  margin-top: 50px;
  margin-bottom: 50px;
  min-width: 350px;
}

mat-card-header {
  margin-bottom: 15px;
}

mat-card-footer {
  margin-bottom: 20px;
}

a:link, a:active, a:visited {
  color: coral;
}

a:hover {
  color: rgb(255, 99, 42);
}