<div fxFill fxLayoutAlign="center center" class="content-area">
  <mat-card fxFlex="30" fxLayout="column" fxLayoutAlign="space-around center">

    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <div fxLayout="row" fxFill fxLayoutAlign="center">
      <mat-card-content fxFlex="80">
        <form [formGroup]="loginForm" fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Email" type="text" formControlName="Email" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="Password" required>
          </mat-form-field>
        </form>
      </mat-card-content>
    </div>

    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>

    <mat-card-footer>
      <div>Don't have an account? <a routerLink="/register">Register</a></div>
      <div><a routerLink="">Forgot your password?</a></div>
    </mat-card-footer>

  </mat-card>
</div>