<div fxLayout="row" fxLayoutAlign="center" fxFill>
  <div fxLayout="column" fxLayoutAlign="center" fxFlex="1120px">

    <div class="mat-display-2" fxFlexAlign="center">Protection</div>

    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="100%" fxLayoutGap="30px">

      <mat-card>
        <img src="assets/glass_services.png" alt="Glass Protection">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Glass Protection</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img src="assets/ceramic.png" alt="Ceramic Coating">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Ceramic Coating</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img src="assets\rim_prot.jpg" alt="Wheel Nano Protection">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Wheel Nano Protection</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img src="assets/leather_interior.png" alt="Interior Protection">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Leather/Textil Protection</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img src="assets/plastic_interior.jpg" alt="Interior Plastic Coating">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Interior Plastic Coating</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img src="assets/new_car.jpg" alt="New Car Protection">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>New Car Protection</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="mat-display-2" fxFlexAlign="center">Cleaning</div>

    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="100%" fxLayoutGap="30px">

      <mat-card>
        <img src="assets/carpet_cleaning.jpg" alt="Full Int+Ext">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Interior & Exterior Cleaning</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img src="assets/ceramic.png" alt="Ceramic Coating">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Ceramic Coating</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img src="assets\rim_prot.jpg" alt="Wheel Nano Protection">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Wheel Nano Protection</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img src="assets/leather_interior.png" alt="Interior Protection">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Leather/Textil Protection</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img src="assets/plastic_interior.jpg" alt="Interior Plastic Coating">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Interior Plastic Coating</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img src="assets/new_car.jpg" alt="New Car Protection">
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>New Car Protection</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>

    </div>

  </div>
</div>