img {
    object-fit: cover;
    width: 225px;
    height: 225px;
}

mat-card {
    padding: 0;
    width: 225px;
    margin-bottom: 30px;
}

.mat-display-2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.protection {
    max-height: 665px;
}