<div fxLayout="column" fxLayoutAlign="center">

  <div class="mat-display-2">Protection</div>
  <div fxLayout="row">
    <mat-card></mat-card>
  </div>
  <div>

  </div>
  <div>

  </div>

</div>
<!--
Védelem 
Külső
	- Kerámiabevonat - (ceramic protection)
	- Felnibevonat - wheel nano protection
Belső	
	- Szövet vagy bőrbevonat 
	- Műanyagbevonat
	- Üvegbevonat
Csomag
- Új autó csomag (ezeknek a kombinációi) - New Car protection

Tisztítás
1. Teljes külső és belső 
2. Kárpittisztás
3. Lámpa polírozás
4. Teljes polírozás
5.  Ózonos szagtalanítás, fertotlenités
6.  Motortértisztítás
A tisztításhoz lehet tenni egy külön tartós waxot (6 hónap)-->