.navbar {
    background-color: #3d5c99;
    color: white;
    min-width: 600px;
}

.login {
    margin-right: 20px
}

.navBarButton {
    font-size: 21px;
}

img {
    min-width: 100px;
    min-height: 40px;
    max-width: 150px;
    max-height: 60px;
}
