.navbar {
    background-color: #3d5c99;
    color: white;
    min-width: 600px;
}

.login {
    margin-right: 21px
}

.navBarButton {
    font-size: 21px;
}

img {
    min-width: 100px;
    min-height: 40px;
    max-width: 150px;
    max-height: 60px;
}

img:focus {
  outline: 0;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#userMenu{
  border-radius: 100%;
}
#adminMenu{
  border-radius: 100%;
}

#firstNameLbl {
  font-size: 20px;
}
