<div fxFill fxLayout="column" class="mat-app-background">

  <div fxFlex="1 1 10vw" class="navbar" fxLayout="column" fxLayoutAlign="center">
    <app-navbar fxLayoutAlign="center"></app-navbar>
  </div>

  <div fxFlex fxLayout="column" class="content-area">

    <div class="content-area" style="height: 94%">
      <router-outlet></router-outlet>
    </div>

    <footer fxLayout="column" fxFlex style="height: 5%;" class="mat-app-background">
      <div fxLayout="row">
        <mat-divider fxFlex="100"></mat-divider>
      </div>
      <p class="mat-body-2" fxFlexAlign="center">Copyright © 2018 CrownClean Kft.</p>
    </footer>
    
  </div>

</div>