mat-sidenav {
    background-color: #eeeeee;
    width: 300px;
}

mat-sidenav-container {
    min-height: 65vh;
}

.sidemenu {
    background-color: #eeeeee;
}

.menubtn {
    margin-top: 15%;
}

.menuopt {
    padding-top: 5px;
    padding-bottom: 5px
}

.bgc {
    background: #424242;
}