.section1 {
    background:
        linear-gradient(
        rgba(61, 92, 153, 0.6), 
        rgba(61, 92, 153, 0.6)
        ),
        url(/assets/car1.jpg) no-repeat;
    background-size: cover;
    height: 740px;
}

.section2 {
    background:
        linear-gradient(
        rgba(38, 56, 94, 0.6), 
        rgba(38, 56, 94, 0.6)
        ),
        url(/assets/car5.jpg) no-repeat;
    background-size: cover;
    height: 600px;
}

.mat-display-3 {
    margin: 10px 10px;
    text-transform: uppercase;
}

.mat-display-2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-left: 0;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
}

.title-smaller {
    margin-top: 0;
    margin-bottom: 7px;
}

.bigbtn {
    background-color: transparent;
    border: solid 3px rgb(69, 127, 245);
    border-radius: 30px;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
}

.bigbtn:hover {
    background-color: rgb(69, 127, 245);
}

.bigbtn:focus {
    outline: 0;
}

.text {
    font-size: 16px;
    margin-bottom: 25px;
    max-width: 600px;
}