<div fxLayout="column" class="content-area">

  <div *ngIf="currentUser" fxLayoutAlign="center">
    <mat-card class="mat-elevation-z3" fxFlex="30vw" fxLayout="column">
      <mat-card-header fxLayoutAlign="center">
        <div class="mat-display-1">My Profile</div>
      </mat-card-header>
      <form [formGroup]="profileForm" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="center" fxFlex="90%">
          <div>
            <div>First Name: </div>
            <mat-form-field><input matInput [readonly]="'true'" formControlName="firstname"></mat-form-field>
          </div>
          <div>
            <div>Last Name: </div>
            <mat-form-field><input matInput [readonly]="'true'" formControlName="lastname"></mat-form-field>
          </div>
          <div>
            <div>Phone Number: </div>
            <mat-form-field><input matInput formControlName="phone"></mat-form-field>
          </div>
          <div>
            <div>Email: </div>
            <mat-form-field><input matInput formControlName="email"></mat-form-field>
          </div>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Addresses
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngFor="let addr of currentUser.addresses">{{addr}}</p>
            </mat-expansion-panel>
        </div>
      </form>
      

      <button mat-raised-button id="addVehicle" color="accent" routerLink="/vehicle-add">Add New Vehicle</button>
    </mat-card>
  </div>

  <div *ngIf="!currentUser" fxFlexAlign="center" fxFlexOffset="40vh">
    <mat-spinner [color]="accent"></mat-spinner>
  </div>

</div>