mat-card {
  margin-top: 50px;
  margin-bottom: 50px;
}

mat-card-footer {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.full-width{
  width: 320px;
}

table, tr, td{
  width: auto;
}

.content-of-card{
  width: 100%;
}

form{
  width: 100%;
}
